In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import gmaps
from config import gkey
gmaps.configure(api_key=gkey)

In [9]:
print(2**0)

1

In [2]:
mta = pd.read_csv("Resources/mta_station.csv")
df = pd.read_csv("Resources/final_house_data.csv")
df = df.reset_index().drop(['index', 'Unnamed: 0'], axis=1)
mta = mta.reset_index().drop(['index', 'Unnamed: 0'], axis=1)
df = df[df['distance_miles']<0.1]

In [3]:
df['distance_miles'].describe()

count    2873.000000
mean        0.056181
std         0.027022
min         0.000125
25%         0.030845
50%         0.057246
75%         0.081515
max         0.099897
Name: distance_miles, dtype: float64

In [4]:
mta.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

In [5]:
df.head()

,zpid,latitude,longitude,usecode,bathrooms,bedrooms,zipcode,price,lotSizeSqFt,Nearest Station Index,Nearest Station Lat,Nearest Station Lon,Borough,distance_miles
58,83056383,40.752254,-73.855818,Quadruplex,0.0,0,11368,1376881,3125,450,40.751730,-73.855334,Q,0.044202
59,2110021882,40.759239,-73.982749,Unknown,0.0,0,10020,590054,0,226,40.758663,-73.981329,M,0.084328
80,2118375880,40.744743,-73.996449,MultiFamily2To4,1.0,0,10011,574598,0,321,40.744081,-73.995657,M,0.061752
81,2093292261,40.744743,-73.996449,MultiFamily2To4,1.0,0,10011,574598,0,321,40.744081,-73.995657,M,0.061752
82,2093912569,40.744743,-73.996449,MultiFamily2To4,1.0,0,10011,574598,0,321,40.744081,-73.995657,M,0.061752

In [6]:
def convert_latlon(slat,slon,elat,elon):
    R = 6373.0    
    dlon = elon - slon
    dlat = elat - slat    
    a = sin(dlat / 2)**2 + cos(slat) * cos(elat) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))    
    distance_km = R * c
    distance_m = distance_km * 0.621371    
    return distance_m

In [7]:
from math import sin, cos, sqrt, atan2, radians
station_count = []
for _,home in df.iterrows():
    H_lat = radians(home['latitude'])
    H_lon = radians(home['longitude'])
    distance = []
    for _,station in mta.iterrows():
        E_lat = radians(station['GTFS Latitude'])
        E_lon = radians(station['GTFS Longitude'])
        distance.append(convert_latlon(H_lat,H_lon,E_lat,E_lon))
    res = sum(1 for i in distance if i < 0.15)
    station_count.append(res)
        
# df['Station number'] = station_count

KeyboardInterrupt:

In [ ]:
len(station_count)

In [ ]:
df['Station number'] = station_count

In [ ]:
df['Station number'].describe()

In [ ]:
price = df.groupby('Station number')['price'].mean()
plt.scatter()