In [1]:
import pandas as pd
import numpy as np
import json
import requests
import matplotlib.pyplot as plt

from config import zkey

ModuleNotFoundError: No module named 'config'

In [3]:
#Importing the MTA csv file

mta_data = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')

mta_data.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

In [ ]:
#saving the Raw Data Just in case
#mta_data.to_csv("mta_station.csv")

In [ ]:
#mta_data = pd.read_csv()

In [5]:
mta_data_borough = mta_data.groupby(["Borough"]).count()
mta_data_borough

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
Borough,,,,,,,,,,
Bk,169,169,169,169,169,169,169,169,169,169
Bx,70,70,70,70,70,70,70,70,70,70
M,153,153,153,153,153,153,153,153,153,153
Q,84,84,84,84,84,84,84,84,84,84
SI,21,21,21,21,21,21,21,21,21,21

In [4]:
?mta_data.groupby

In [13]:
mta_data_line = mta_data[["Station ID","Borough","Stop Name","GTFS Latitude","GTFS Longitude"]]
mta_data_line.drop_duplicates()
mta_data_line

,Station ID,Borough,Stop Name,GTFS Latitude,GTFS Longitude
0,1,Q,Astoria - Ditmars Blvd,40.775036,-73.912034
1,2,Q,Astoria Blvd,40.770258,-73.917843
2,3,Q,30 Av,40.766779,-73.921479
3,4,Q,Broadway,40.761820,-73.925508
4,5,Q,36 Av,40.756804,-73.929575
5,6,Q,39 Av,40.752882,-73.932755
6,7,M,Lexington Av/59 St,40.762660,-73.967258
7,8,M,5 Av/59 St,40.764811,-73.973347
8,9,M,57 St - 7 Av,40.764664,-73.980658
9,10,M,49 St,40.759901,-73.984139
10,11,M,Times Sq - 42 St,40.754672,-73.986754
11,12,M,34 St - Herald Sq,40.749567,-73.987950
12,13,M,28 St,40.745494,-73.988691
13,14,M,23 St,40.741303,-73.989344
14,15,M,14 St - Union Sq,40.735736,-73.990568
15,16,M,8 St - NYU,40.730328,-73.992629
16,17,M,Prince St,40.724329,-73.997702
17,18,M,Canal St,40.719527,-74.001775
18,19,M,Canal St,40.718383,-74.000460
19,20,M,City Hall,40.713282,-74.006978
20,21,M,Cortlandt St,40.710668,-74.011029
21,22,M,Rector St,40.707220,-74.013342
22,23,M,Whitehall St,40.703087,-74.012994
23,24,Bk,Court St,40.694100,-73.991777
24,25,Bk,Jay St - MetroTech,40.692180,-73.985942
25,26,Bk,DeKalb Av,40.690635,-73.981824
26,27,Bk,Atlantic Av - Barclays Ctr,40.683666,-73.978810
27,28,Bk,Union St,40.677316,-73.983110
28,29,Bk,9 St,40.670847,-73.988302
29,30,Bk,Prospect Av,40.665414,-73.992872
...,...,...,...,...,...
467,465,M,Grand Central - 42 St,40.751431,-73.976041
468,466,M,5 Av,40.753821,-73.981963
469,467,M,Times Sq - 42 St,40.755477,-73.987691
470,468,M,Times Sq - 42 St,40.755983,-73.986229
471,469,M,Grand Central - 42 St,40.752769,-73.979189
472,471,M,34 St - 11 Av,40.755882,-74.001910
473,475,M,96 St,40.784318,-73.947152
474,476,M,86 St,40.777891,-73.951787
475,477,M,72 St,40.768799,-73.958424
476,501,SI,St George,40.643748,-74.073643
477,502,SI,Tompkinsville,40.636949,-74.074835
478,503,SI,Stapleton,40.627915,-74.075162
479,504,SI,Clifton,40.621319,-74.071402
480,505,SI,Grasmere,40.603117,-74.084087
481,506,SI,Old Town,40.596612,-74.087368
482,507,SI,Dongan Hills,40.588849,-74.096090
483,508,SI,Jefferson Av,40.583591,-74.103338
484,509,SI,Grant City,40.578965,-74.109704
485,510,SI,New Dorp,40.573480,-74.117210
486,511,SI,Oakwood Heights,40.565110,-74.126320
487,512,SI,Bay Terrace,40.556400,-74.136907
488,513,SI,Great Kills,40.551231,-74.151399
489,514,SI,Eltingville,40.544601,-74.164570
490,515,SI,Annadale,40.540460,-74.178217
491,516,SI,Huguenot,40.533674,-74.191794
492,517,SI,Prince's Bay,40.525507,-74.200064
493,518,SI,Pleasant Plains,40.522410,-74.217847
494,519,SI,Richmond Valley,40.519631,-74.229141
495,522,SI,Tottenville,40.512764,-74.251961
496,523,SI,Arthur Kill,40.516578,-74.242096